
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "navbar";
@import "footer";
@import "main";
@import "registration";

html, body{
  height:100%;
  margin:0;
  padding:0;
}

body{
  overflow:hidden;
}